* {
  margin: 0;
}

/* ============================== HOME PAGE ============================== */

/*  ============ HOME PAGE END ============ */

/* ============================== HEADER ============================== */
.Header-Container {
  height: 160px;
  border: 2px solid red;
}
.Header-Contact {
  border: 2px solid blue;
  height: 80px;
}
.Header-Navbar {
  display: flex;
  justify-content: space-around;
  border: 2px solid green;
  height: 80px;
}
.Header-Logo {
  position: relative;
  top: -30px;
  height: 150px;
  width: 150px;
  border: 2px solid black;
}
/*  ============ HEADER END ============ */

/* ============================== HERO SECTION ============================== */
.Hero-Container {
  height: 500px;
  border: 2px solid purple;
}
/*  ============ HERO SECTION END ============ */

/* ============================== PACKAGE SECTION ============================== */
.Package-Container {
  height: 1600px;
}
/*  ============ PACKAGE SECTION END ============ */

/* ============================== WRITING SERVICES ============================== */
.Services-Container {
  height: 1000px;
  border: 2px solid pink;
}
/*  ============ WRITING SERVICES END ============ */

/* ============================== FOOTER ============================== */
.Footer-Container {
  height: 150px;
  border: 2px solid red;
}

/*  ============ FOOTER END ============ */
