* {
  margin: 0;
}

/* ============================== HOME PAGE ============================== */

/*  ============ HOME PAGE END ============ */

/* ============================== HEADER ============================== */
.Header-Container {
  height: 160px;
  border: 2px solid red;
}
.Header-Contact {
  border: 2px solid blue;
  height: 80px;
}
.Header-Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid green;
  height: 80px;
}
.Header-Logo {
  height: 150px;
  width: 150px;
  border: 2px solid black;
}
/*  ============ HEADER END ============ */

/* ============================== HERO SECTION ============================== */
.Hero-Container {
  padding-top: 120px;
  height: 600px;
  border: 2px solid purple;
}
.Hero-Tagline {
  padding-left: 80px;
  font-size: 3rem;
}
.Hero-Main {
  display: flex;
  width: "100%";
  height: 420px;
  border: 2px solid brown;
}
.Hero-Tiks {
  width: 50%;
  border: 2px solid red;
}
.Hero-Projects {
  width: 50%;
  border: 2px solid blue;
}
.Hero-Features {
  height: 120px;
  border: 4px solid blue;
}
/*  ============ HERO SECTION END ============ */

/* ============================== PACKAGE SECTION ============================== */
.Package-Container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1600px;
}

.Package-Tagline {
  font-size: 2rem;
  margin-bottom: 20px;
}
.Package-Paragraph {
  margin-top: 20px;
  width: 80vw;
  text-align: center;
}
.Package-Options {
  border: 2px solid blue;
  width: 90vw;
  height: 500px;
  display: grid;
  margin-top: 80px;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.Package-Paragraph2 {
  margin-top: 80px;
}

.Package-Square-Main {
  width: 180px;
  height: 180px;
  border: 2px solid red;
  transition: 0.4s;
}
.Package-Square-Main:hover {
  width: 200px;
  height: 200px;
}
/*  ============ PACKAGE SECTION END ============ */

/* ============================== WRITING SERVICES ============================== */
.Services-Container {
  height: 1000px;
  border: 2px solid pink;
}
/*  ============ WRITING SERVICES END ============ */

/* ============================== FOOTER ============================== */
.Footer-Container {
  height: 150px;
  border: 2px solid red;
}

/*  ============ FOOTER END ============ */
